<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Fiction Books</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/photos">Photography</a>
    </nav>
  </header>

  <main>
    <h1>Fiction Books</h1>
    <div class="book-grid">
      <% books.forEach(book => { %>
        <div class="book-item">
          <img src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-L.jpg" alt="<%= book.title %>" class="book-image">
          <h2><%= book.title %></h2>
        </div>
      <% }) %>
    </div>
  </main>

 
  <footer>
    <%- include('footer') %>
  </footer>
</body>
</html>
